<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHBgh8hjijtfMA-RxdAe_vg8matG5H7kU</string>
	<key>GCM_SENDER_ID</key>
	<string>16116821579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fateshny</string>
	<key>PROJECT_ID</key>
	<string>fateshly-bf7d6</string>
	<key>STORAGE_BUCKET</key>
	<string>fateshly-bf7d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16116821579:ios:74b9e211f528ceea8027ce</string>
</dict>
</plist>